<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/meta') %>
   
   
    <title><%=title%></title>

</head>
<body>
    <header>
        <%- include('../partials/nav') %>
    </header>
    <section>
        <main class="body-p">
            <div class="contenedor-2">

                
                <h1 class="title-pro">¿Quienes somos?</h1>
                <p class="parrafos">
                    Somos un emprendimiento joven, con entusiasmo, que tiene como valor principal la comodidad de la mujer a la hora de ponerse ropa interior.
                    Tenemos a su disposición una gran variedad de productos, los cuales son renovados cada temporada para dar siempre las prendas mas trendy.
                    Desarrollamos esta tienda online para ahórrate tiempo y dinero. 
                    Aquí vas a encontrar productos para vos, tu familia y porque no, regalos para tus amigas o compañeras de trabajo.
                    Tenemos un equipo que está dedicado a satisfacer tus necesidades y que te contestará con las dudas con la mayor brevedad posible.
                    Para una mejor comunicación puedes contactar con nosotros a través de WhatsApp o dejándonos tus inquietudes a través del formulario                    
                </p>
                <h1 class="title-pro">Contactanos</h1>
                <%- include('../partials/contacto') %>
            </div>
        </main>
    </section>
    <%- include('../partials/footer') %>
    <script src="/js/main2.js"></script>
</body>
</html>